<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FlavorsOfTheHouse.Properties.Settings.dbflavorsConnectionString" connectionString="Dsn=Software2BODBC;server=localhost;uid=eMaster;pwd=123456;database=dbflavors;port=3306" providerName="System.Data.Odbc"/>
        <add name="FlavorsOfTheHouse.Properties.Settings.ConnectionString" connectionString="Dsn=FlavorsHouse_DataSource" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
